@use 'helpers' as *;

// SVG

.box-social {
  gap: 20px;
  &__list {
    list-style: none;
  }
  &__svg {
    border: 1px solid $color--white;
    border-radius: 50%;
    max-width: 40px;
    max-height: 40px;
    &:hover {
      scale: 1.2;
    }
  }
}

@media screen and (max-width: 768px) {
  .box-social {
    position: absolute;
    top: 60px;
    left: 280px
  }
}

@media screen and (max-width: 376px) {
  .box-social {
    display: none;
  }
}

// Navigation

@media screen and (max-width: 768px) {
  .nav-but-wrap{ 
    position: relative;
    display: inline-block;
    padding-left: 15px;
    padding-top: 15px;
    transition : all 0.3s ease-out;
  }

  .menu-icon {
    height: 30px;
    width: 30px;
    position: relative;
    z-index: 2;
    cursor: pointer;
    display: block;

    &__line {
      height: 2px;
      width: 30px;
      display: block;
      background-color: #fff;
      margin-bottom: 7px;
      cursor: pointer;
      -webkit-transition: background-color .5s ease, -webkit-transform .2s ease;
      transition: background-color .5s ease, -webkit-transform .2s ease;
      transition: transform .2s ease, background-color .5s ease;
      transition: transform .2s ease, background-color .5s ease, -webkit-transform .2s ease;
    }

    &__line-left,
    &__line-right {
      transition: all 200ms linear;
    }
  }

  .menu-icon:hover .menu-icon__line-left,
  .menu-icon:hover .menu-icon__line-right {
	width: 30px;
}

.navigation {
	position: fixed;
	z-index: 4;

  &::before,
  &::after {
    content: "";
    position: fixed;
    top: 60px;
    right: 50px;
    width: 0;
    height: 0;
    background-color: rgba(104, 115, 171, 0.6);
    border-bottom-right-radius: 200%;
    z-index: -1;
    transition: border-radius linear 0.8s, width cubic-bezier(0.77, 0, 0.175, 1) 0.6s, height cubic-bezier(0.77, 0, 0.175, 1) 0.6s;
  }

  &::after {
    background-color: rgba(84, 94, 143, 0.6);
    transition-delay: 0s;
    box-shadow: 6px 7px 28px 0 rgba(16, 16, 16, 0.3);
  }

  &::before {
    transition-delay: .2s;
  }

  &__content {
    position: fixed;
    visibility: hidden;
    top: 90px;
    right: 170px;
    width: 280px;
  }

  &__list {
    position: relative;
    padding: 0;
    margin: 0;
    z-index: 2;
  }
}

.list--item {
  position: relative;
	display: block;
	transition-delay: 0.8s;
	opacity: 0;
	text-align: right;
	color: #fff;
	overflow: hidden; 
	font-family: 'Poppins', sans-serif;
	font-size: 22px;
	line-height: 1.2;
	letter-spacing: 2px;
	-webkit-transform: translate(30px, 0%);
          transform: translate(30px, 0%);
	-webkit-transition: opacity .2s ease, -webkit-transform .3s ease;
	transition: opacity .2s ease, -webkit-transform .2s ease;
	transition: opacity .2s ease, transform .2s ease;
	transition: opacity .2s ease, transform .2s ease, -webkit-transform .2s ease;
  margin-top: 7px;
  margin-bottom: 7px;

  .list--link {
    position: relative;
    text-align: right;
	  color: #fff;
    overflow: hidden; 
    cursor: pointer;
    z-index: 2;
    padding-left: 40px;
    padding-top:5px;
    padding-bottom: 5px;
    display: inline-block;
    transition: all 200ms linear;

    &::after {
      position: absolute;
      content: '';
      top: 50%;
      right: 0;
      width: 5px;
      height: 0;
      opacity: 0;
      background-color: #8167a9;
      z-index: 1;
      transition: all 200ms linear; 
    }
  }

  .list--item a:hover::after {
    height: 100%;
    opacity: 1;
    top: 0;
  }

  .list--item a:hover {
    color: rgba(255,255,255,1);
  }

  .nav__list-item.active-nav a{
    color: rgba(255,255,255,1);

    &::after {
      height: 100%;
      opacity: 1;
      top: 0;
    }
  }
}

.list-item .active-nav a:after{ 
	height: 100%;
	opacity: 1;
	top: 0;
}

.nav-active .navigation__content {
	visibility: visible;
}

.nav-active .menu-icon__line {
	background-color: #fff;
	transform: translate(0px, 0px) rotate(-45deg);
}

.nav-active .menu-icon__line-left {
	width: 15px;
  transform: translate(2px, 4px) rotate(45deg);
}

.nav-active .menu-icon__line-right {
	width: 15px;
	float: right;
  transform: translate(-3px, -3.5px) rotate(45deg);
}

.nav-active .menu-icon:hover .menu-icon__line-left,
.nav-active .menu-icon:hover .menu-icon__line-right {
	width: 15px;
}

body.nav-active .nav__content {
	visibility: visible;
}
body.nav-active .menu-icon__line {
	background-color: #fff;
	-webkit-transform: translate(0px, 0px) rotate(-45deg);
          transform: translate(0px, 0px) rotate(-45deg);
}
body.nav-active .menu-icon__line-left {
	width: 15px;
	-webkit-transform: translate(2px, 4px) rotate(45deg);
          transform: translate(2px, 4px) rotate(45deg);
}
body.nav-active .menu-icon__line-right {
	width: 15px;
	float: right;
	-webkit-transform: translate(-3px, -3.5px) rotate(45deg);
          transform: translate(-3px, -3.5px) rotate(45deg);
}
body.nav-active .menu-icon:hover .menu-icon__line-left,
body.nav-active .menu-icon:hover .menu-icon__line-right {
	width: 15px;
}
body.nav-active .navigation {
	visibility: visible;
}
body.nav-active .navigation:before, body.nav-active .navigation:after {
	width: 250px;
	height: 250px;
	border-radius: 15px;
}
body.nav-active .navigation:after {
	-webkit-transition-delay: .1s;
          transition-delay: .1s;
}
body.nav-active .navigation:before {
	-webkit-transition-delay: 0s;
          transition-delay: 0s;
}
body.nav-active .list--item {
	opacity: 1;
	-webkit-transform: translateX(0%);
          transform: translateX(0%);
	-webkit-transition: opacity .3s ease, color .3s ease, -webkit-transform .3s ease;
	transition: opacity .3s ease, color .3s ease, -webkit-transform .3s ease;
	transition: opacity .3s ease, transform .3s ease, color .3s ease;
	transition: opacity .3s ease, transform .3s ease, color .3s ease, -webkit-transform .3s ease;
}
body.nav-active .list--item:nth-child(0) {
	-webkit-transition-delay: 0.7s;
          transition-delay: 0.7s;
}
body.nav-active .list--item:nth-child(1) {
	-webkit-transition-delay: 0.8s;
          transition-delay: 0.8s;
}
body.nav-active .list--item:nth-child(2) {
	-webkit-transition-delay: 0.9s;
          transition-delay: 0.9s;
}
body.nav-active .list--item:nth-child(3) {
	-webkit-transition-delay: 1s;
          transition-delay: 1s;
}
body.nav-active .list--item:nth-child(4) {
	-webkit-transition-delay: 1.1s;
          transition-delay: 1.1s;
}
body.nav-active .list--item:nth-child(5) {
	-webkit-transition-delay: 1.2s;
          transition-delay: 1.2s;
}
body.nav-active .list--item:nth-child(6) {
	-webkit-transition-delay: 1.3s;
          transition-delay: 1.3s;
}
body.nav-active .list--item:nth-child(7) {
	-webkit-transition-delay: 1.4s;
          transition-delay: 1.4s;
}
body.nav-active .list--item:nth-child(8) {
	-webkit-transition-delay: 1.5s;
          transition-delay: 1.5s;
}
body.nav-active .list--item:nth-child(9) {
	-webkit-transition-delay: 1.6s;
          transition-delay: 1.6s;
}
body.nav-active .list--item:nth-child(10) {
	-webkit-transition-delay: 1.7s;
          transition-delay: 1.7s;
}
}

@media screen and (max-width: 376px) {
  .navigation {
    &::before,
    &::after {
      top: 110px;
      right: 50px;
    }
    &__content {
      top: 140px;
    }
  }
}

.img-back {
  position: absolute;
  top: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  object-fit: cover;
  
  &__color {
    position: absolute;
    top: 0;
    z-index: -1;
    opacity: 0.6;
    width: 100%;
    height: 100%;
  }
}

.main-slider {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.slider__item {
  display: none;
  text-align: center;
}

.slider__item.active {
  display: block;
}

.scroll-dots {
  position: absolute;
  right: 30px;
  bottom: 160px;
  transform: translateX(-50%);
}

.dot {
  display: flex;
  margin-bottom: 40px;
  right: 0;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: 1px solid $color--white;
  background-color: transparent;
  cursor: pointer;
}

.dot.active {
  background-color: $color--white;
}

@media screen and (max-width: 768px) {
  .scroll-dots {
    right: 15px;
    bottom: 130px;
  }
}

@media screen and (max-width: 376px) {
  .scroll-dots {
    right: 10px;
    bottom: 100px;
  }

  .dot {
    margin-bottom: 30px;
  }
}

.arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 150px;
  margin-bottom: 0;
  &__button {
    background-color: transparent;
    border: 1px solid $color--white;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    box-shadow: rgba(193, 244, 246, 0.698) 0px 0px 0px 0px;
    animation: 1.2s cubic-bezier(0.8, 0, 0, 1) 0s infinite normal none running pulse;
  }
}

button:is(:hover, :focus) {
  transform: scale(1.2);
}


@media screen and (max-width: 768px) {
  .arrow {
    margin-top: 100px;
  }
}

@media screen and (max-width: 376px) {
  .arrow {
    margin-top: 70px;
  }
}

.section-first__box-card {
  position: relative;
  display: inline-block;
}

.square {
  width: 585px;
  height: 470px;
  position: absolute;
  top: -50px;
  left: -225px; 
  background-color: $color--light-blue; 
  z-index: -1;

  &__two {
    width: 580px;
    height: 470px;
    position: absolute;
    top: -50px;
    right: -144px; 
    z-index: -1;
    background-color: $color--violet; 
  }
}

@media screen and (max-width: 768px) {
  .square {
    width: 550px;
    height: 300px;

    &__two {
      right: -13px;
      width: 330px;
      height: 300px;
    }
  }
}

@media screen and (max-width: 376px) {
  .square {
    &__two {
      right: -10px;
      width: 330px 
    }
  }
}

.box-img {
  position: relative;
  display: flex;
  gap: 70px;
  .image-one {
    max-width: 630px;
    min-width: 300px;
  }
}

@media screen and (max-width: 768px) {
  .box-img {
    gap: 1px;
    .image-one {
      max-width: 400px;
    }
  }
}

@media screen and (max-width: 376px) {
  .box-img {
    display: flex;
    flex-direction: column;
    .image-one {
      max-width: 350px;
    }
  }
}

.box-img__reverse {
  position: relative;
  display: flex;
  gap: 70px;
  .image-one {
    max-width: 630px;
    min-width: 300px;
  }
}

@media screen and (max-width: 768px) {
  .box-img__reverse {
    gap: 23px;

    .image-one {
      max-width: 380px
    }
  }
}

@media screen and (max-width: 376px) {
  .box-img__reverse {
    gap: 23px;
    display: flex;
    flex-direction: column-reverse;
    .image-one {
      max-width: 350px;
    }
  }
}



.box-img__text {
  max-width: 470px;
  margin-top: 80px;
  &__button {
    @include button--width (190px);
    margin-top: 40px;
  }
}

@media screen and (max-width: 768px) {
  .box-img__text {
    margin-top: 20px;
    &__button {
      margin-top: 0px;
    }
  }
}

@media screen and (max-width: 768px) {
  .box-img__text {
    text-align: right;
  }
}

.section-second {
  position: relative;

  &__img-back {
    position: absolute;
    top: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__img-back__color{
    position: absolute;
    top: 0;
    z-index: -1;
    opacity: 0.6;
    width: 100%;
    height: 100%;
  }
}

.wrapper--card {
  max-width: 330px;
  max-height: 550px;
  background-color: $color--white;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  transition: box-shadow 0.3s ease;

  .card--text {
    padding: 20px;
  }
}

@media screen and (max-width: 768px) {
  .wrapper--card {
    max-width: 300px;
  }
}

@media screen and (max-width: 376px) {
  .wrapper--card {
    max-width: 250px;
  }
}

.card-image {
  max-width: 330px;
}

@media screen and (max-width: 768px) {
  .card-image {
    max-width: 300px;
  }
}

@media screen and (max-width: 376px) {
  .card-image {
    max-width: 250px;
  }
}

.cards__slider {
  margin-top: 90px;
  position: relative;
  padding: 0px 50px;

  .slick-track {
    display: flex;
  }

  .slick-list {
    overflow: hidden;
  }

  .slick-arrow {
    position: absolute;
    top: 50%;
    margin-top: -160px;
    z-index: 10;
    font-size: 0;
    width: 50px;
    height: 50px;
    border: none;
  }

  .slick-prev {
    left: -77px;
    background: url('../img/arrow_slider/Left.svg') 0 0 / 100% no-repeat;
  }

  .slick-next {
    right: -77px;
    background: url('../img/arrow_slider/Right.svg') 0 0 / 100% no-repeat;
  }

  .slick-dots {
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
    margin-top: 40px;
  }

  .slick-dots li {
    list-style: none;
    margin: 0px 10px;
    z-index: 2;
    margin-bottom: 120px;
  }

  .slick-dots button {
    font-size: 0;
    width: 10px;
    height: 10px;
    background-color: transparent;
    border-radius: 50%;
    padding: 0px;
    border: 1px solid $color--white;
    z-index: 2;
  }
}

@media screen and (max-width: 1000px) {
  .slick-arrow {
    display: none !important;
  }
}

@media screen and (max-width: 376px) {
  .cards__slider {
    .slick-dots li {
      margin-bottom: 50px;
    }
  }
}

.slick-dots li.slick-active button {
  background-color: white;
}

.text--avatar {
  display: flex;
}

.card-text {
  padding: 20px;
}

@media screen and (max-width: 376px) {
  .card-text {
    padding: 5px;
  }
}

.avatar--info {
  margin-left: 20px;
}

.avatars--photo {
  width: 50px; 
  height: 50px; 
  border-radius: 50%;
  margin-top: 10px;
}

.gallery-box {
  display: flex;
  align-items: center;
}

.big-photo {
  flex: 1;
  position: relative;
}

.row {
  display: flex;
}

.small-photo {
  margin: 3px 3px;
  position: relative;
}

.big-photo,
.small-photo {
  &:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3), 0 0 20px rgba(0, 0, 0, 0.2), 0 0 30px rgba(0, 0, 0, 0.1);
    animation: shadow-pulse 1s infinite;
  }
}

@media screen and (max-width: 768px) {
  .gallery-box {
    flex-direction: column;
  }
}

@media screen and (max-width: 376px) {
  .row {
    flex-direction: column;
  }

  .big--img {
    max-width: 290px;
  }

  .small--img {
    max-width: 300px;
  }
}

.btn--gallery {
  @include button--width(190px);
  
}

.box-form {
  max-width: 670px;
  height: 450px;
  background-color: $color--white;
  position: relative;
  z-index: 2;
  margin: 0 auto;
  box-shadow: 2px 2px 4px rgba(0.2, 0.2, 0.2, 0.2);
  top: -300px;
  .form--content {
    display: flex;
    justify-content: space-between;
    margin: 40px 60px 70px 60px;
  }
  .block-information {
    margin-top: -20px;
    max-width: 286px;
  }
}

.img--back-form {
  z-index: -1;
  position: absolute;
  top: -40px;
  max-width: 670px;
}

@media screen and (max-width: 376px) {
  .img--back-form {
    max-width: 300px;
    height: 540px;
  }
}

.block-formUser {
  max-width: 310px;
  display: flex;
  flex-direction: column;
  position: relative;
  .form--style {
    padding-bottom: 10px;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid rgb(192, 190, 190);
    width: 310px;

    &:focus {
      outline: none;
    }
  }

  .button--form {
    @include button--width(140px);
    display: block;
    position: absolute;
    right: 0;
  }
}

.sent--button {
  color: $color--white;
  background-color: rgb(219, 125, 71);
  border: 1px solid rgb(219, 125, 71);
}

.heading-h3__heading-form {
  padding-top: 100px;
}

.svg--form {
  width: 12px;
  height: 14px;
}

@media screen and (max-width: 376px) {
  .box-form {
    max-width: 300px;
    height: 500px;
  }

  .form--content {
    flex-direction: column;
  }

  .block-formUser {
    margin-top: 30px;
    .form--style {
      width: 180px;
    }

    .button--form {
      width: 120px;
      right: 30px;
    }
  }
}

.footer {
  position: relative;
  .img-back__form {
    max-width: 100%;
    position: absolute;
    top: -500px;
    z-index: -1;
  }
}

@media screen and (max-width: 768px) {
  .footer {
    .img-back__form {
      height: 700px;
    }
  }
}



.box-social__footer {
  display: flex;
  gap: 20px;
}



